[Unit]
Description=Vaultwarden - A Bitwarden API server
After=network.target

[Service]
Type=simple
User=vaultwarden
ExecStart=/usr/bin/vaultwarden
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=full
WorkingDirectory=/etc/vaultwarden
ReadWriteDirectories={{ data_folder }}
EnvironmentFile=/etc/vaultwarden/vaultwarden.cfg

[Install]
WantedBy=multi-user.target
